@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-mbg: hsl(217, 54%, 11%);
  --very-dark-blue-cbg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --fs-p: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--very-dark-blue-mbg);
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--very-dark-blue-cbg);
  padding: 25px;
  border-radius: 10px;
  max-width: 353px;
  margin: 0 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

main #equ {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .image {
  cursor: pointer;
  position: relative;
  height: 300px;
}
main .image:hover::before {
  opacity: 1;
}
main .image::before {
  content: url("./images/icon-view.svg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.514);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0;
}

main .text h2 a {
  color: var(--white);
  margin: 30px 0 0 0;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
main .text h2:hover a {
  color: var(--cyan);
}

main .text p {
  color: var(--soft-blue);
  font-weight: 300;
  font-size: var(--fs-p);
  margin-top: 24px;
  margin-bottom: 30px;
}

main .text .worth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--very-dark-blue-line);
  font-size: var(--fs-p);
}

main .text .worth > li:not(:last-of-type) {
  color: var(--cyan);
  display: flex;
  align-items: center;
}

main .text .worth img {
  margin-right: 5px;
}

main .text .worth li {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
}

main .text .avatar {
  margin: 16px 0 0;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

main .text .avatar #ava {
  height: 33px;
  border: 1.5px solid white;
  border-radius: 50%;
  margin-right: 18px;
}

main .text .avatar > figcaption {
  font-size: var(--fs-p);
  color: var(--soft-blue);
  font-weight: 300;
}

main .text .avatar > figcaption > a {
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
main .text .avatar > figcaption > a:hover {
  color: var(--cyan);
}

footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: var(--fs-p);
  color: var(--soft-blue);
}

footer a {
  color: var(--cyan);
  font-weight: 600;
}
